# KUIS 2 Pembelajaran Mesin

## Tentang dataset

Pada sebuah lembaga kemanusiaan berbasis teknologi informasi, dibentuk beberapa tim kemanusiaan yang bertugas untuk terjun ke masyarakat memberikan bantuan dalam bentuk aplikasi komputer atau layanan pelatihan IT.  Kegiatn tersebut dilaksanakan setiap tahun dengan ketentuan anggota organisasi tersebut dapat bergabung ke beberapa tim sebagai ketua atau anggota. Terdapat pula anggota yang sudah tidak aktif di organisasi tersebut (terhapus di database mereka —> label N/A).  Organisasi tersebut juga melakukan rekrutmen volunteer, namun tidak semua tim menggunakan bantuan volunteer. Hasil kegiatan dari setiap tim dapat diwujudkan ke dalam sebuah pengakuan hak cipta atau publikasi karya ilmiah atau publikasi berita di media massa.

## Ketentuan
1. Pengerjaan secara individu alias setiap mahasiswa!
2. Terdapat data dengan nilai #N/A, pertimbangkan cara terbaik untuk mengatasi nilai tersebut.
3. Tidak boleh ada duplikasi pekerjaan antar mahasiswa
4. Berikan penjelasan untuk setiap tahapan. Jangan hanya kode!

## Soal
1. Lakukan pemilahan data training dan testing yang sesuai dan proporsional dari data tersebut! (10 poin)
2. Tentukan data validasi! (10 poin)
3. Tentukan secara tepat kolom yang menjadi "label" (20 poin)
4. Terapkan dua jenis metode klasifikasi dan lakukan perbandingan akurasi  dengan wajib melibatkan variabel keterlibatan volunteer sampai variabel luaran-luaran yang dihasilkan! (20 poin)
5. Lakukan tunning hyperparameter berdasarkan hasil klasifikasi pada nomor 3 menggunakan metode Grid Search dan Random Search! Simpulkan parameter apa yang paling baik digunakan berdasarkan metode klasifikasi yang dipilih, dan berapa akurasinya. (40 poin)

In [8]:
import pandas as pd

df = pd.read_excel('data/dataset_quiz.xlsx')

df.head(100)

,id_ketua,id_anggota1,id_anggota2,id_anggota3,id_anggota4,id_anggota5,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,7206.0,7214.0,6211.0,8602.0,7801.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
1,7214.0,7109.0,8402.0,7903.0,9202.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
2,5911.0,8201.0,8701.0,9101.0,9003.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
3,8402.0,7702.0,8602.0,8903.0,8903.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
4,8201.0,8305.0,5911.0,5903.0,8402.0,NaN,TIDAK,0,2019,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,8803.0,8804.0,9102.0,8005.0,9303.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
81,6211.0,8901.0,9003.0,9303.0,9007.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
82,8601.0,8903.0,8703.0,NaN,NaN,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
83,8703.0,8601.0,9202.0,9102.0,6204.0,NaN,YA,3,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA
84,8102.0,7109.0,5903.0,7206.0,8903.0,NaN,TIDAK,0,2022,REGULER,TIDAK ADA,TIDAK ADA,TIDAK,TIDAK ADA,TIDAK ADA,TIDAK ADA

In [9]:
from sklearn.model_selection import train_test_split

df_train, df_unseen = train_test_split(df, test_size=0.2, random_state=3, stratify=df['keterlibatan_vltr'])

#variable unutk splitsebuah data unutk validasi
df_val, df_test = train_test_split(df_unseen, test_size=0.2, random_state=0, stratify=df_unseen['keterlibatan_vltr'])

#output data
print(f'Data Lable Asli     : \n{df.keterlibatan_vltr.value_counts()}')
print(f'Data Lable Training : \n{df_train.keterlibatan_vltr.value_counts()}')
print(f'Data Lable Validasi : \n{df_val.keterlibatan_vltr.value_counts()}')
print(f'Data Lable Test     : \n{df_test.keterlibatan_vltr.value_counts()}')

Data Lable Asli     :
TIDAK    45
YA       40
Name: keterlibatan_vltr, dtype: int64
Data Lable Training :
TIDAK    36
YA       32
Name: keterlibatan_vltr, dtype: int64
Data Lable Validasi :
TIDAK    7
YA       6
Name: keterlibatan_vltr, dtype: int64
Data Lable Test     :
YA       2
TIDAK    2
Name: keterlibatan_vltr, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

df_train, df_unseen = train_test_split(df, test_size=0.2, random_state=3, stratify=df['keterlibatan_vltr'])

#variable unutk splitsebuah data unutk validasi
df_val, df_test = train_test_split(df_unseen, test_size=0.5, random_state=0, stratify=df_unseen['keterlibatan_vltr'])

#output data
print(f'Data Lable Asli     : \n{df.keterlibatan_vltr.value_counts()}')
print(f'Data Lable Training : \n{df_train.keterlibatan_vltr.value_counts()}')
print(f'Data Lable Validasi : \n{df_val.keterlibatan_vltr.value_counts()}')
print(f'Data Lable Test     : \n{df_test.keterlibatan_vltr.value_counts()}')

Data Lable Asli     :
TIDAK    45
YA       40
Name: keterlibatan_vltr, dtype: int64
Data Lable Training :
TIDAK    36
YA       32
Name: keterlibatan_vltr, dtype: int64
Data Lable Validasi :
YA       4
TIDAK    4
Name: keterlibatan_vltr, dtype: int64
Data Lable Test     :
TIDAK    5
YA       4
Name: keterlibatan_vltr, dtype: int64

In [11]:
#variable untuk import label encoder
from sklearn import preprocessing

#objek lable encoder berfungsi unutk mengetahui kata label
label_encoder = preprocessing.LabelEncoder()

#Encode label yang berada di dalam kolom keterlibatan_vltr
df['keterlibatan_vltr']= label_encoder.fit_transform(df['keterlibatan_vltr'])
df['skema']= label_encoder.fit_transform(df['skema'])
df['luaran_hki']= label_encoder.fit_transform(df['luaran_hki'])
df['jenis_luaran_hki']= label_encoder.fit_transform(df['jenis_luaran_hki'])
df['potensi_hki']= label_encoder.fit_transform(df['potensi_hki'])
df['luaran_lain']= label_encoder.fit_transform(df['luaran_lain'])
df['jenis_luaran_lain']= label_encoder.fit_transform(df['jenis_luaran_lain'])
df['status_luaran_lain']= label_encoder.fit_transform(df['status_luaran_lain'])

In [12]:
#variable untuk menseleksi fitur
x = df.iloc[:,6:16]
y = df['tahun']
x.head()

,keterlibatan_vltr,jml_vltr_terlibat,tahun,skema,luaran_hki,jenis_luaran_hki,potensi_hki,luaran_lain,jenis_luaran_lain,status_luaran_lain
0,0,0,2019,1,1,1,2,0,3,1
1,0,0,2019,1,1,1,2,0,3,1
2,0,0,2019,1,1,1,2,0,3,1
3,0,0,2019,1,1,1,2,0,3,1
4,0,0,2019,1,1,1,2,0,3,1

In [13]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
dt = DecisionTreeClassifier()

# sesuaikan data ke set training
dt.fit(x_train, y_train)

# perdiksi unutk label set test
y_pred_dt = dt.predict(x_test)
print(y_pred_dt)

# melakukan hitungan untuk set accuracy
acc_dt = accuracy_score(y_test,y_pred_dt)
print("Test set accuracy: {:.2f}".format(acc_dt))
print(f"Test set accuracy: {acc_dt}")

[2020 2021 2020 2020 2020 2022 2022 2022 2022 2021 2022 2021 2021 2022
 2022 2019 2019]
Test set accuracy: 1.00
Test set accuracy: 1.0

In [14]:
from sklearn.svm import SVC

svm_poly = SVC(kernel='poly', degree=8)

# FIT
svm_poly.fit(x_train, y_train)

# DATA TEST (PERDIKSI)
y_pred_svm_poly = svm_poly.predict(x_test)
print(y_pred_svm_poly)

# EVALUASI AKURASI 
acc_svm_poly= accuracy_score(y_test, y_pred_svm_poly)

# OUTPUT 
print("Test set accuracy : {:.2f}".format(acc_svm_poly))
print(f"Test st accuracy : {acc_svm_poly}")

[2022 2022 2022 2022 2022 2022 2022 2022 2022 2022 2022 2022 2022 2022
 2022 2022 2022]
Test set accuracy : 0.41
Test st accuracy : 0.4117647058823529

In [15]:
from sklearn.model_selection import RepeatedKFold

# inisialisasi data ke repeated k-fold
cv = RepeatedKFold(n_splits=4, n_repeats=3, random_state=42)

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

# inisisasi model
dt = DecisionTreeClassifier()

# definisi hyperparameter yang akan digunakan
params = {
    'criterion' : ['gini', 'entropy'],
    'max_depth' : list(range(5,11))
}

# inisiasi grid nilai repeated k-fold dan hyperparameter
grid = GridSearchCV(dt, param_grid=params, cv=cv)

# Fit berdasarkan grid
%timeit grid.fit(x,y)

# Evaluasi menggunakan score
score = grid.score(x,y)

print(f'Hasil evaluasi: {score}')
print(f'Konfigurasi hyperparameter : {grid.best_params_}')

221 ms ± 3.95 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
Hasil evaluasi: 1.0
Konfigurasi hyperparameter : {'criterion': 'gini', 'max_depth': 5}

In [16]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

# SVM 
svm = SVC()

# mendefinisikan hyper parameter
params = {
    'C' : [0.1, 1, 10],
    'degree' : [3],
    'kernel' : ['linear','poly','rbf']
}

# inisiasi grid nilai repeated k-fold dan hyperparameter
grid = GridSearchCV(svm, param_grid=params, cv=cv)

# fit berdasarkan grid
%timeit grid.fit(x,y)

# evaluasi dengan score
score = grid.score(x,y)

print(f'Hasil evaluasi: {score}')
print(f'Konfigurasi hyperparameter : {grid.best_params_}')

207 ms ± 11.4 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
Hasil evaluasi: 1.0
Konfigurasi hyperparameter : {'C': 1, 'degree': 3, 'kernel': 'linear'}

In [17]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import RandomizedSearchCV

# inisisasi model
dt = DecisionTreeClassifier()

#mendefinisikan hyperparameter 
params = {
    'criterion' : ['gini', 'entropy'],
    'max_depth' : list(range(5,11))
}

# inisiasi grid nilai repeated k-fold dan hyperparameter
grid = RandomizedSearchCV(dt, params, cv=cv)

#fit berdasarkan grid
%timeit grid.fit(x,y)

#melakukan evaluasi score
score = grid.score(x,y)

print(f'Hasil evaluasi: {score}')
print(f'Konfigurasi hyperparameter : {grid.best_params_}')

197 ms ± 14.9 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
Hasil evaluasi: 1.0
Konfigurasi hyperparameter : {'max_depth': 8, 'criterion': 'entropy'}

In [18]:
# import library 
from sklearn.svm import SVC

# inisiasi model
model_svc_manual = SVC(C=10, kernel='poly', degree=3)

%timeit model_svc_manual.fit(x, y)

# evaluasi score
score = model_svc_manual.score(x,y)

print(f'Hasil evaluasi: {score}')

844 µs ± 34.5 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
Hasil evaluasi: 0.3176470588235294