In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
voice = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/voice.csv')

In [4]:
voice.head()

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402906,0.893369,0.491918,...,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,male
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,...,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,male
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,...,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512,male
3,0.151228,0.072111,0.158011,0.096582,0.207955,0.111374,1.232831,4.177296,0.963322,0.727232,...,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119,male
4,0.135120,0.079146,0.124656,0.078720,0.206045,0.127325,1.101174,4.333713,0.971955,0.783568,...,0.135120,0.106398,0.016931,0.266667,0.712812,0.007812,5.484375,5.476562,0.208274,male

In [5]:
voice.isnull().sum()

meanfreq    0
sd          0
median      0
Q25         0
Q75         0
IQR         0
skew        0
kurt        0
sp.ent      0
sfm         0
mode        0
centroid    0
meanfun     0
minfun      0
maxfun      0
meandom     0
mindom      0
maxdom      0
dfrange     0
modindx     0
label       0
dtype: int64

In [6]:
X = voice.iloc[:, :-1]
y = voice.iloc[:, -1]

print(X.shape)
print(y.shape)

(3168, 20)
(3168,)

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=10)

clf = SVC()
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

In [8]:
from sklearn.metrics import accuracy_score

score = accuracy_score(y_test, y_pred)
print(score)

0.6729758149316509

In [9]:
from sklearn.model_selection import GridSearchCV

params = {
     'kernel' : ['rbf', 'linear', 'poly'],
     'C'      : [1, 5, 10, 50],
     'gamma'  : [0.0001, 0.0005, 0.001, 0.005]
}

grid = GridSearchCV(clf, params, n_jobs=-1)

%time grid.fit(X_train, y_train)

print(f'Best Estimator: {grid.best_estimator_}')
print(f'score: {grid.best_score_}')

CPU times: user 56.3 s, sys: 6.05 s, total: 1min 2s
Wall time: 2h 3min 12s
Best Estimator: SVC(C=10, gamma=0.0001, kernel='linear')
score: 0.9693307302788116